.product-page{
max-width:1200px;
margin:80px auto;
display:flex;
gap:70px;
padding:20px;
}

/* BIG PRODUCT IMAGE */

.product-page-image img{
width:450px;
height:450px;
object-fit:cover;
border-radius:12px;
box-shadow:0 8px 30px rgba(0,0,0,0.1);
}

/* DETAILS */

.product-details{
flex:1;
}

.product-details h2{
font-size:30px;
margin-bottom:10px;
}

.price{
font-size:22px;
margin-bottom:20px;
}

.sizes{
display:flex;
gap:10px;
margin-bottom:20px;
}

.size{
padding:10px 15px;
border:1px solid #ccc;
background:white;
cursor:pointer;
}

.size.active{
background:black;
color:white;
}

.add-cart{
background:black;
color:white;
padding:12px 30px;
border:none;
border-radius:6px;
cursor:pointer;
}
/* TABLET */

@media (max-width:900px){

.product-page{
flex-direction:column;
align-items:center;
gap:40px;
margin:50px auto;
}

.product-page-image img{
width:350px;
height:350px;
}

.product-details{
width:100%;
text-align:center;
}

.sizes{
justify-content:center;
}

}

/* MOBILE */

@media (max-width:600px){

.product-page{
flex-direction:column;
gap:30px;
padding:15px;
margin:40px auto;
}

.product-page-image img{
width:100%;
max-width:320px;
height:auto;
}

.product-details h2{
font-size:24px;
}

.price{
font-size:20px;
}

.sizes{
flex-wrap:wrap;
justify-content:center;
}

.size{
padding:8px 12px;
font-size:14px;
}

.add-cart{
width:100%;
padding:14px;
font-size:16px;
}

}