/* PROFILE PAGE LAYOUT */

.profile-container {
  display: flex;
  min-height: 80vh;
  background: #f7f7f7;
}


/* SIDEBAR */

.profile-sidebar {
  width: 220px;
  background: white;
  border-right: 1px solid #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-sidebar button {
  padding: 12px;
  border: none;
  background: #f3f3f3;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.profile-sidebar button:hover {
  background: #e8e8e8;
}

.logout-btn {
  margin-top: 20px;
  background-color:black;
  color: white;
}



/* MAIN CONTENT */

.profile-content {
  flex: 1;
  padding: 40px;
}


/* PROFILE FORM */

.profile-form {
  max-width: 450px;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.profile-form h2 {
  margin-bottom: 20px;
}


/* PROFILE IMAGE */

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #ddd;
}


/* INPUTS */

.profile-form input,
.profile-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.profile-form textarea {
  min-height: 80px;
}


/* SAVE BUTTON */

.profile-form button {
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form button:hover {
  background: #333;
}


/* MOBILE RESPONSIVE */

@media (max-width: 768px) {

  .profile-container {
    flex-direction: column;
  }

  .profile-sidebar {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
  }

  .profile-sidebar button {
    flex: 1;
  }

}