.hero{
  height:65vh;
  background-size:cover;
  background-position:center;

  position:relative;
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;

  padding-top:70px;   /* space under navbar */
  padding-left:20px;  /* align with BrandName */
  color:white;
}

/* HERO TEXT */

.hero-text{
  max-width:420px;
  color: black;
}

.hero-text h1{
  font-size:38px;
  margin-bottom:5px;
  margin-left: 50px;
  
}

.hero-text h3{
  font-size:20px;
  font-weight:1200;
  margin-left: 50px;
}

/* MOBILE */

@media (max-width:600px){

.hero{
  height:40vh;
  padding:40px 20px;
}

.hero-text h1{
  font-size:26px;
  color: white;
  margin-left: 1px;
  
}

.hero-text h3{
  font-size:14px;
  font-weight: 800;
  color: white;
  margin-left: 1px;
}

}