.hero{
height:450px;
background-image:url("../assets/Hero/Hero1.jpg");
background-size:cover;
background-position:center 30%;
background-repeat:no-repeat;

display:flex;
align-items:flex-start;
padding-left:80px;
padding-top:80px;
color:black;
}

.hero-text{
display:flex;
flex-direction:column;
gap:10px;
}

.hero-text h1{
font-size:50px;
margin-left: 15px;
margin-top: 20px;
}

.hero-text h3{
font-size:25px;
font-weight: 700;
margin-left: 15px;
margin-bottom: 5px;
}

.hero-text button{
height: 30px;
width: 100px;
background-color: black;
color: white;
margin-left: 20px;
}