.trending{
  padding:40px 60px;
  background:#f5f5f5;
}

.trending h2{
  font-size:26px;
  margin-bottom:25px;
  font-weight:600;
}

/* GRID */

.products-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

/* TABLET */

@media (max-width:900px){

.products-grid{
  grid-template-columns:repeat(2,1fr);
}

}

/* MOBILE */

@media (max-width:600px){

.products-grid{
  grid-template-columns:repeat(2,1fr);
  gap:12px;
}

}